body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  gap: 20px;
}
.container #dices {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container #dices .box {
  width: 100px;
  height: 100px;
  border: 1px solid #808080;
  box-shadow: 1px 4px 4px 1px #ccc;
  border-radius: 20px;
  padding: 10px;
}

.container #dices .box .circle {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}

.container #dices .one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #dices .two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.two div:nth-child(2) {
  align-self: flex-end;
}

.container #dices .three {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.three div:nth-child(2) {
  align-self: center;
}

.three div:nth-child(3) {
  align-self: flex-end;
}

.container #dices .four {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container #dices .five {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.five div:nth-child(3) {
  position: absolute;
  top: 70px;
  justify-self: center;
  align-self: center;
}

.container #dices .six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container .roll-dice-btn {
  padding: 13px 22px;
}
